pre {
    font-size: 3rem;
    background-color: black;
    color: #adadad;
    line-height: 0.6;
}

#game {
    display: inline-block;
    padding-bottom: 20px;
}

.big-text {
    font-size: 2rem;
}

.player1 {
    color: yellow;
}
.player2 {
    color: brown;
}
.player3 {
    color: blueviolet;
}
.player4 {
    color: dodgerblue;
}

.bomb {
    color: red;
}

.gift {
    color: greenyellow;
}

.box {
    color: #f3f3f3;
}